<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SSRS_Publisher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SSRS_Publisher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SSRS_Publisher.Properties.Settings />
    </userSettings>
    <applicationSettings>
        <SSRS_Publisher.Properties.Settings>
            <setting name="SSRS_Publisher_SSRSWebService_ReportingService2005"
                serializeAs="String">
                <value>http://localhost/ReportServer/ReportService2005.asmx</value>
            </setting>
        </SSRS_Publisher.Properties.Settings>
    </applicationSettings>
</configuration>